* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: #134611; */
  margin: 0px;
}


h1, h2 {
  text-align: center;
}

h4 {
  text-align: center;
  color: #f8a3b9;
  text-decoration: underline;
}

ul {
  font-size: small;
  margin: 5px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.instructions {
  background-color:rgba(255, 255, 255, 0.5);
  width: 90%;
  position: relative;
  margin: auto;
  padding: 10px;
  font-size: smaller;
  text-align: center;
  border-style: dotted;
  border-color: #f8a3b9;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
  padding: 10px;
  height:100vh;
}

.left, .right{
  width: 25%;
  align-items: center;
  background-color: #f8f3df;
}

.middle {
  width: 50%;
  background-image: url("assets/images/bakery-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  align-items: center;
}

.pantry-container {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color:rgba(255, 255, 255, 0.5);
  width: 95%;
  height: 87%;
  padding: 10px;
  position: relative;
  top: 2%;
  overflow: auto;
}

.ing-div {
  text-align: center;
  padding: 2px;
  margin: 2px;
  -ms-flex: 1;
  flex: 1;
  font-size: small;
  transition: transform .2s;
}

.ing-div:hover,
.ing-div:focus {
  color: black;
  text-decoration: none;
  cursor: grab;
  transform: scale(1.5);
}

.ing-img {
  height: 50px;
}

.ing-container {
  width: 70%;
  height: 45%;
  position: relative;
  top: 16%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color:rgba(143, 124, 93, 0.3);
  padding: 20px;
}

.ing-drag {
  position: relative;
  height: 80%;
  width: 80%;
  border-color: black;
}

.add-contain {
  position: relative;
  font-size: x-small;
  padding: 0px;
  margin: 10px;
  justify-content: center;
}

.dlt-ing{
  position: absolute;
  right: 1px;
}


.bake-sign {
  position: absolute;
  width: 25%;
  bottom: 0;
  z-index: 1;
}

button {
  position: relative;
}


.recipe-container {
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  
  background-color: rgb(199, 179, 148); /* Fallback color */
  background-color: rgba(199,179,148,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  margin: 40% auto; 
  padding: 10px;
  border: 1px solid #888;
  width: 50%; 
}

.modal-text {
  width: 75%;
  height: 75%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: small;
  color: azure;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.skill-container{
  position: absolute;
  right: 30%;
  top: 15%;
  width: 8%;
  text-align: center;
  align-content: center;
  z-index: 1;
}

#score-pts {
  max-width:100%;
}
#skill-points{
  position: absolute;
  font-size: 1.25rem;
  color:#4b341a;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer {
  color: #f8a3b9;
  font-weight: bold;
  position: absolute;
  padding: 5px;
  top: 64%;
  left: 52%;
  z-index: 1;
  background-color:rgba(255, 255, 255, 0.5);
}

.kitchen-banner {
  position: absolute;
  width: 30%;
  /* height: 25%; */
  top: 9%;
  left: 28%;
  opacity: 0.9;
  z-index: 1;
}

.guesses {
  position: absolute;
  color: #f8a3b9;
  text-shadow: 1px 1px 1px white;
  left: 4%;
  top: 10%;
}

#cover {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 25%;
  right: 25%;
  bottom: 0;
  opacity: 1;
  background-color: rgba(0,0,0, 0.5);;
  z-index: 10;
}